<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Coronavirus COVID-19 Cases in India - covid-19track.in</title>

  <meta name="title" content="Coronavirus COVID-19 Cases in India: State and District">

  <meta name="description" content="Track COVID-19 outbreak in India through interactive charts. Total confirmed cases, active cases, recoveries and deaths. State-wise and district-wise cases. Situation of each state/ut and most affected state with the help of chart. Awareness through various awareness banners from MoHFW and other official bodies. Contribute to the completely opensourced website on github.">

  <link rel="icon" href="images/favicon.ico">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Handlee|Montserrat|Catamaran|Italianno|Patrick+Hand+SC|Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Patrick+Hand|Gochi+Hand|Comic+Neue|Mansalva|Ubuntu|Permanent+Marker|Shadows+Into+Light&display=swap" rel="stylesheet" crossorigin>


  <!-- Bootstrap css cdn -->
  <link rel="stylesheet preconnect" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Bootstrap js cdn -->
  <script rel="preconnect" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script rel="preconnect" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!--  FontAwesome CDN -->
  <script rel="preconnect" src="https://kit.fontawesome.com/d19811554b.js" crossorigin="anonymous"></script>


  <!-- chart.js CDN -->
  <script rel="preconnect" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <section id="country-data" class="main">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""><img src="images/logo.png" width="60" height="60" class="d-inline-block align-top">COVID-19Track.IN</a>
        <button class="navbar-toggler" type="button" style="width:80px; height:60px;" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse aftercollapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="" data-toggle="modal" data-target="#developerSpeak">Developer Speaks</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Developer speaks -->

      <div class="modal fade" id="developerSpeak" tabindex="-1" role="dialog" aria-labelledby="developerSpeak" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Few words from the Developer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="mdl-bdy">
              Hello, from <a href="https://www.linkedin.com/in/sandeepkrsuman/">SandeepKrSuman</a> <br><br><br>
              I have created this website out of my development enthusiasm during this lockdown period due to the Novel Coronavirus Pandemic.<br>

              I hope everyone is safe, staying indoors and maintaining social distancing as it is the only way to defeat Coronavirus menace.
              <br><br>
              This website simply shows the number of COVID-19 cases in India. For this purpose it uses the data collected from various platforms such as
              state press bulletins, official (CM, Health M) handles, PBI, Press Trust of India, ANI reports, etc. by using this <a href="https://api.covid19india.org/">API</a> source.
              The data is continuously validated and updated by a group of dedicated volunteers. These data are generally more recent and hence might be different from those of MoHFW data which is updated at a scheduled time.
              Total samples tested is reported from ICMR data.

              <br><br>
              <strong>This website is NOT official and in no means does it intend to spread wrong information.</strong> Any error while displaying the data coming from the API, due to any technical issue, will be corrected to the earliest as soon as it is encountered.
              One can visit the website of <a href="https://www.mohfw.gov.in/">MoHFW</a> for official data from the govt.
              <br><br><br>

              <div class="creditdiv container-fluid">
                <p><u>Credits</u> :</p>
                <p>Helplines : <a href="https://www.mohfw.gov.in/">Ministry of Health and Family Welfare</a> </p>
                <p>API source : <a href="https://api.covid19india.org/">https://api.covid19india.org/</a></p>
                <p>Kudos to : <a href="https://www.covid19india.org/">https://www.covid19india.org/</a> for their dedicated efforts.</p>
              </div>

              <br><br><br>

              <h3 class="quotes">To all Corona Warriors, Thankyou!</h3>
            </div>
            </div>
            <div class="modal-footer">
              <span style="padding-right:150px;">Contribute to Opensource : <a href="https://github.com/SandeepKrSuman/COVID-19TrackIN" style="color:#000;"><span style="font-size:2rem;"><i class="fab fa-github"></i></span></a> </span>
              <button type="button" class="btn btn-secondary btn-lg modal-close-btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


<!-- country data cards -->

      <div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="casecard card-1">
            <div class="card-ttl"> Confirmed </div>
            <div class="card-case" id="addcomma1"><%=covidData.statewise[0].confirmed%></div>
            <div class="card-inc">
              <%if(parseInt(covidData.statewise[0].deltaconfirmed) >= 0){%>
                [ +<%=covidData.statewise[0].deltaconfirmed%> ]
              <%}%>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="casecard card-2">
            <div class="card-ttl"> Active </div>
            <div class="card-case" id="addcomma2"><%= covidData.statewise[0].active %></div>
            <div class="card-inc-actv">.</div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="casecard card-3">
            <div class="card-ttl"> Recovered </div>
            <div class="card-case" id="addcomma3"><%= covidData.statewise[0].recovered %></div>
            <div class="card-inc">
              <%if(parseInt(covidData.statewise[0].deltarecovered) >= 0){%>
                [ +<%= covidData.statewise[0].deltarecovered %> ]
              <%}%>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="casecard card-4">
            <div class="card-ttl"> Deaths </div>
            <div class="card-case" id="addcomma4"><%= covidData.statewise[0].deaths %></div>
            <div class="card-inc">
              <%if(parseInt(covidData.statewise[0].deltadeaths) >= 0){%>
                [ +<%= covidData.statewise[0].deltadeaths %> ]
              <%}%>
            </div>
        </div>
    </div>
</div>

<!-- formatting tested date -->

<% var testedCase = covidData.tested[covidData.tested.length-1].totalsamplestested; %>
<% var testdate = covidData.tested[covidData.tested.length-1].testedasof %>

<!-- tested and visualize data -->

<div class="row" style="margin-top: 10%;">
  <div class="col-sm-6" style="text-align: right; border-right: 1px solid #588da8;">
    <div class="tested">
      <h4>Tested</h4>
      <h3 id="addcomma5"><%= testedCase %></h3>
      <h6>As of <%= testdate %></h6>
      <h6 style="color: #4b5d67;"><a href="<%= covidData.tested[covidData.tested.length-1].source %>" target="_blank"><i class="fas fa-link"></i></a></h6>
    </div>
  </div>
  <div class="col-sm-6" style="text-align: left;">
    <div class="last-updated">
      Last Updated : <%= covidData.statewise[0].lastupdatedtime %>
    </div>
    <div class="last-updated">
      <span class="visualize-spread" data-toggle="modal" data-target="#growthTrends">Visualize Spread Trends <i class="fas fa-chevron-right"></i></span>
    </div>
  </div>
</div>

<!-- fomatting data with commas -->

<script>
    var comma1 = <%= covidData.statewise[0].confirmed%>;
    var comma2 = <%= covidData.statewise[0].active %>;
    var comma3 = <%= covidData.statewise[0].recovered %>;
    var comma4 = <%= covidData.statewise[0].deaths %>;
    var comma5 = <%= testedCase %>;

    document.getElementById('addcomma1').innerHTML = addcomma(comma1);
    document.getElementById('addcomma2').innerHTML = addcomma(comma2);
    document.getElementById('addcomma3').innerHTML = addcomma(comma3);
    document.getElementById('addcomma4').innerHTML = addcomma(comma4);
    document.getElementById('addcomma5').innerHTML = addcomma(comma5);

    function addcomma(num){
      var newnum = parseInt(num).toLocaleString("en-IN");
      return newnum;
    }
</script>

    </div>
  </section>


  <!-- Growth Trends modal -->

  <div class="modal fade" id="growthTrends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
       <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title dis-modal-title" id="exampleModalLongTitle">Spread Trends</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <div class="mdl-bdy">

               <canvas class="growthtrendchart" id="growthcnf" style="background-color: rgba(255,7,58,.12549)"></canvas>
               <canvas class="growthtrendchart" id="growthrec" style="background-color: rgba(40,167,69,.12549);"></canvas>
               <canvas class="growthtrendchart" id="growthdeath" style="background-color: rgba(108,117,125,.0627451);"></canvas>
               <script>
               <%var lastcnf = covidData.cases_time_series[covidData.cases_time_series.length - 1].totalconfirmed; %>
               <%var bound = (parseInt(lastcnf.substring(0,1)) + 1) * (Math.pow(10, lastcnf.length-1)); %>
               <%if(bound > 300000 && bound <= 600000){ var stepup = 100000; var upbound = bound; }%>
               <%if(bound > 600000 && bound <= 900000){ var stepup = 150000; var upbound = Math.ceil(bound/150000) * 150000; }%>
               <%if(bound > 900000 && bound <= 1200000){ var stepup = 200000; var upbound = Math.ceil(bound/200000) * 200000; }%>
               <%if(bound > 1200000 && bound <= 1500000){ var stepup = 250000; var upbound = Math.ceil(bound/250000) * 250000; }%>
               <%if(bound > 1500000 && bound <= 1800000){ var stepup = 300000; var upbound = Math.ceil(bound/300000) * 300000; }%>
               <%if(bound > 1800000 && bound <= 2100000){ var stepup = 350000; var upbound = Math.ceil(bound/350000) * 350000; }%>
               <%if(bound > 2100000 && bound <= 2400000){ var stepup = 400000; var upbound = Math.ceil(bound/400000) * 400000; }%>
               <%if(bound > 2400000 && bound <= 2700000){ var stepup = 450000; var upbound = Math.ceil(bound/450000) * 450000; }%>
               <%if(bound > 2700000 && bound <= 3000000){ var stepup = 500000; var upbound = Math.ceil(bound/500000) * 500000; }%>
               <%if(bound > 3000000 || bound < 300000){ var stepup = 50000; var upbound = bound }%>

               var ctx = document.getElementById('growthcnf').getContext('2d');
               var chart = new Chart(ctx, {
                   type : 'line',
                   data : {
                       labels : [
                         <%for(var p = 0; p < covidData.cases_time_series.length; p++){%>
                         "<%= covidData.cases_time_series[p].date %>",
                         <%}%>
                           ],
                        datasets : [
                            {
                                backgroundColor : 'rgb(255, 7, 58)',
                                borderColor : 'rgb(255, 7, 58)',
                                label : "",
                                data : [
                                    <%for(var p = 0; p < covidData.cases_time_series.length; p++){%>
                                    "<%= covidData.cases_time_series[p].totalconfirmed %>",
                                    <%}%>
                                    ],
                                fill: false,

                            }
                            ]

                   },

                   options: {
                       responsive: true,
                       legend: {
                           display: false

                       },
				        title: {
				            display: true,
					        text: 'Confirmed Cases Growth Trend',
                  fontSize: 18,
                  fontFamily: "Montserrat"
				        },
				        tooltips: {
					    mode: 'index',
					    intersect: false,
              titleFontSize: 18,
              bodyFontSize: 20

				        },
				        hover: {
				            mode: 'nearest',
				            intersect: true
				        },
				        scales: {
				            xAxes: [{
				                gridLines: {
                                display : true,
                                zeroLineColor : 'rgb(0, 0, 0)',
                                zeroLineWidth : 1,
                                lineWidth : 0

				                }

				            }],
				            yAxes: [{
				                gridLines: {
                                display : true,
                                zeroLineColor : 'rgb(0, 0, 0)',
                                zeroLineWidth : 1,
                                lineWidth : 0
                              },
                        ticks: {
                                beginAtZero: true,
                                stepSize: <%= stepup %>,
                                min: 0,
                                max: <%= upbound %>
                              }

				            }]

				        }

                   }

               });
               </script>

               <script>
               var ctx = document.getElementById('growthrec').getContext('2d');
               var chart = new Chart(ctx, {
                   type : 'line',
                   data : {
                       labels : [
                         <%for(var p = 0; p < covidData.cases_time_series.length; p++){%>
                         "<%= covidData.cases_time_series[p].date %>",
                         <%}%>
                           ],
                        datasets : [
                            {
                                backgroundColor : 'rgb(40, 167, 69)',
                                borderColor : 'rgb(40, 167, 69)',
                                label : "",
                                data : [
                                    <%for(var p = 0; p < covidData.cases_time_series.length; p++){%>
                                    "<%= covidData.cases_time_series[p].totalrecovered %>",
                                    <%}%>
                                    ],
                                fill: false,

                            }
                            ]

                   },

                   options: {
                       responsive: true,
                       legend: {
                           display: false

                       },
				        title: {
				            display: true,
					        text: 'Recovered Cases Growth Trend',
                  fontSize: 18,
                  fontFamily: "Montserrat"
				        },
				        tooltips: {
					    mode: 'index',
					    intersect: false,
              titleFontSize: 18,
              bodyFontSize: 20

				        },
				        hover: {
				            mode: 'nearest',
				            intersect: true

				        },
				        scales: {
				            xAxes: [{
				                gridLines: {
                                display : true,
                                zeroLineColor : 'rgb(0, 0, 0)',
                                zeroLineWidth : 1,
                                lineWidth : 0

				                }

				            }],
				            yAxes: [{
				                gridLines: {
                                display : true,
                                zeroLineColor : 'rgb(0, 0, 0)',
                                zeroLineWidth : 1,
                                lineWidth : 0
				                },
                        ticks: {
                          beginAtZero: true,
                          stepSize: <%= stepup %>,
                          min: 0,
                          max: <%= upbound %>
                        }

				            }]

				        }

                   }

               });
               </script>

               <script>
               var ctx = document.getElementById('growthdeath').getContext('2d');
               var chart = new Chart(ctx, {
                   type : 'line',
                   data : {
                       labels : [
                         <%for(var p = 0; p < covidData.cases_time_series.length; p++){%>
                         "<%= covidData.cases_time_series[p].date %>",
                         <%}%>
                           ],
                        datasets : [
                            {
                                backgroundColor : 'rgba(136, 136, 136, 1)',
                                borderColor : 'rgba(136, 136, 136, 1)',
                                label : "",
                                data : [
                                    <%for(var p = 0; p < covidData.cases_time_series.length; p++){%>
                                    "<%= covidData.cases_time_series[p].totaldeceased %>",
                                    <%}%>
                                    ],
                                fill: false,

                            }
                            ]

                   },

                   options: {
                       responsive: true,
                       legend: {
                           display: false

                       },
				        title: {
				            display: true,
					        text: 'Deaths Growth Trend',
                  fontSize: 18,
                  fontFamily: "Montserrat"
				        },
				        tooltips: {
					    mode: 'index',
					    intersect: false,
              titleFontSize: 18,
              bodyFontSize: 20

				        },
				        hover: {
				            mode: 'nearest',
				            intersect: true

				        },
				        scales: {
				            xAxes: [{
				                gridLines: {
                                display : true,
                                zeroLineColor : 'rgb(0, 0, 0)',
                                zeroLineWidth : 1,
                                lineWidth : 0

				                }

				            }],
				            yAxes: [{
				                gridLines: {
                                display : true,
                                zeroLineColor : 'rgb(0, 0, 0)',
                                zeroLineWidth : 1,
                                lineWidth : 0
				                },
                        ticks: {
                          beginAtZero: true,
                          stepSize: <%= stepup %>,
                          min: 0,
                          max: <%= upbound %>
                        }

				            }]

				        }

                   }

               });
               </script>

               <hr>

               <h2 class="awrns" style="color: #000;"><i class="fas fa-hand-point-down"></i> Spread Trend of Past 30 Days <i class="fas fa-hand-point-down"></i></h2>


                   <table class="table table-borderless table-striped" style="margin-top: 10%;">
                     <thead class="thead-dark">
                       <tr>
                         <th class="state-name" style="padding-left:50px;">Dates</th>
                         <th>Total Confirmed</th>
                         <th>Total Recovered</th>
                         <th>Total Deaths</th>
                       </tr>
                     </thead>
                     <tbody style="color: #000;">

                         <%for(var p = (covidData.cases_time_series.length - 1) ; p >= (covidData.cases_time_series.length - 31) ; p--){%>

                         <tr>
                             <td> <%= covidData.cases_time_series[p].date %> </td>

                             <td> <%= covidData.cases_time_series[p].totalconfirmed %> <br> <span class="delta-text-cnf" style="color: red;">[ <i class="fas fa-arrow-up"></i> <%= covidData.cases_time_series[p].dailyconfirmed %> ] </span> </td>

                             <td> <%= covidData.cases_time_series[p].totalrecovered %> <br> <span class="delta-text-cnf" style="color: #79d70f;">[ <i class="fas fa-arrow-up"></i> <%= covidData.cases_time_series[p].dailyrecovered %> ] </span> </td>

                             <td> <%= covidData.cases_time_series[p].totaldeceased %> <br> <span class="delta-text-cnf" style="color: #393e46;">[ <i class="fas fa-arrow-up"></i> <%= covidData.cases_time_series[p].dailydeceased %> ] </span> </td>
                         </tr>

                         <%}%>


                     </tbody>
                   </table>

             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary btn-lg modal-close-btn" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
       </div>


<!-- polarArea graph for country data -->

  <section class="country-graph">
    <div class="container-fluid">
      <canvas class="chart1" id="myChart"></canvas>
      <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {

          type: 'polarArea',

          data: {
            labels: ['Total Cases', 'Active Cases', 'Recovered', 'Deaths'],
            datasets: [{

              data: [ <%= covidData.statewise[0].confirmed %> , <%= covidData.statewise[0].active %> , <%= covidData.statewise[0].recovered %> , <%= covidData.statewise[0].deaths %> ],
              backgroundColor: ['rgba(255,0,0,0.8)',
                'rgba(54,165,235,1.0)',
                'rgba(0,255,0,1.0)',
                'rgba(0,0,0,1.0)'
              ]
            }]
          },

          options: {
            tooltips: {
          titleFontSize: 18,
          bodyFontSize: 20
            },
            responsive: true,
            legend: {
              position: 'right',
            },
            title: {
              display: true,
              text: 'COVID-19 Cases in INDIA',
              fontSize: 18,
              fontFamily: "Montserrat"
            },
            scale: {
              ticks: {
                beginAtZero: true
              },
              reverse: false
            },
            animation: {
              animateRotate: false,
              animateScale: true
            }
          }
        });
      </script>
    </div>
  </section>

  <section id="state-data">
    <div class="container-fluid">


      <table class="table table-color table-borderless table-striped table-shadow">
        <thead class="thead-dark">
          <tr>
            <th class="state-name" style="padding-left:50px;">State/UT</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Recovered</th>
            <th>Deaths</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td colspan="5"><i>(Click on State/UT name to view district-wise data.)</i></td>
          </tr>

          <%var max = parseInt(covidData.statewise[1].confirmed);%>
          <%var pos = 1;%>
          <%for(var i = 1; i < covidData.statewise.length; i++){%>
          <%if(parseInt(covidData.statewise[i].confirmed) > max){%>
          <%max=parseInt(covidData.statewise[i].confirmed);%>
          <%pos=i;%>
          <%}%>

          <% if (parseInt(covidData.statewise[i].confirmed) !== 0){ %>
          <tr data-toggle="modal" data-target="#<%= covidData.statewise[i].statecode %>" class="district-target">
          <td class="state-name"><i class="fas fa-angle-right"></i><span class="tspan"><%= covidData.statewise[i].state %></span></td>
          <td>
            <span class="tspan"><%= covidData.statewise[i].confirmed %></span>
            <br>
            <%if(parseInt(covidData.statewise[i].deltaconfirmed) > 0){%>
              <span class="delta-text-cnf">[ <i class="fas fa-arrow-up"></i> <%=covidData.statewise[i].deltaconfirmed%> ]</span>
            <%}%>
          </td>

          <td><span class="tspan"><%= covidData.statewise[i].active %></span></td>

          <td>
            <span class="tspan"><%= covidData.statewise[i].recovered %></span>
            <br>
            <%if(parseInt(covidData.statewise[i].deltarecovered) > 0){%>
              <span class="delta-text-rec">[ <i class="fas fa-arrow-up"></i> <%=covidData.statewise[i].deltarecovered%> ]</span>
            <%}%>
          </td>

          <td>
            <span class="tspan"><%= covidData.statewise[i].deaths %></span>
            <br>
            <%if(parseInt(covidData.statewise[i].deltadeaths) > 0){%>
              <span class="delta-text-death">[ <i class="fas fa-arrow-up"></i> <%=covidData.statewise[i].deltadeaths%> ]</span>
            <%}%>
          </td>
          </tr>
          <%}%>
          <%}%>

        </tbody>
      </table>

      <%for(var j = 0; j < disCovidData.length; j++){%>

      <!--District DAta Modal -->
       <div class="modal fade" id="<%= disCovidData[j].statecode %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
       <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title dis-modal-title" id="exampleModalLongTitle"><%= disCovidData[j].state %></h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <div class="mdl-bdy">
               <%var lupdt, cnfr, actv, deat, recvr, statenote;%>
               <%for(var k = 0; k < covidData.statewise.length; k++){%>
                 <%if(disCovidData[j].statecode === covidData.statewise[k].statecode){%>
                   <%lupdt = covidData.statewise[k].lastupdatedtime;%>
                   <%statenote = covidData.statewise[k].statenotes;%>
                   <%cnfr = covidData.statewise[k].confirmed%>
                   <%actv = covidData.statewise[k].active%>
                   <%deat = covidData.statewise[k].deaths%>
                   <%recvr = covidData.statewise[k].recovered %>
                 <%}%>
               <%}%>

               <canvas class="chart2" id="districtChart<%=j%>"></canvas>
               <script>
               var ctx = document.getElementById('districtChart<%=j%>').getContext('2d');
         var chart = new Chart(ctx, {

           type: 'bar',

           data: {

               labels: ['Total Cases', 'Active Cases', 'Recovered', 'Deaths'],
               datasets: [{
                   label: '',
                   data: [<%= cnfr %>, <%= actv %>, <%= recvr %>, <%= deat %>],
                   backgroundColor: ['rgb(255,0,0,0.9)',
                   'rgba(54,165,235,1.0)',
                   'rgba(0,255,0,1.0)',
                   'rgba(0,0,0,1.0)']
                   }]
                   },

                   options: {
                     tooltips: {
                   titleFontSize: 18,
                   bodyFontSize: 20
                     },
                   responsive: true,
                   legend: {
                     display: false
                   },
                   title: {
                   display: true,
                   text: 'COVID situation in <%= disCovidData[j].state %>'
                   },
                   scales: {
                     xAxes: [{
                       gridLines: {
                         display : true,
                         zeroLineWidth : 1,
                         lineWidth : 0
                       }
                     }],
                     yAxes: [{
                       gridLines: {
                         display : true,
                         zeroLineWidth : 1,
                         lineWidth : 0
                       }
                     }]
                   },

                   animation: {
                   animateRotate: false,
                   animateScale: true
                   }
                   }
                   });
                   </script>

                   <div class="last-updated" style="color: #000;">
                     Last Updated : <%= lupdt %>
                   </div>
                   <%if(statenote.length > 0){%>
                   <div class="last-updated state-note" style="color: #000;">
                     <i class="far fa-clipboard" style="font-size: 2rem;"></i>   <%= statenote %>
                   </div>
                   <%}%>

                   <table class="table table-borderless table-striped" style="margin-top: 10%;">
                     <thead class="thead-dark">
                       <tr>
                         <th class="state-name" style="padding-left:50px;">District</th>
                         <th>Confirmed</th>
                         <th>Active</th>
                         <th>Recovered</th>
                         <th>Deaths</th>
                       </tr>
                     </thead>
                     <tbody style="color: #000;">

                         <%for(var y = 0; y < disCovidData[j].districtData.length; y++){%>
                           <tr>
                             <td class="state-name"><%= disCovidData[j].districtData[y].district %></td>

                             <td> <%if(parseInt(disCovidData[j].districtData[y].delta.confirmed) > 0){%>
                               <span class="delta-text-cnf" style="color: red;"><i class="fas fa-arrow-up"></i><%= disCovidData[j].districtData[y].delta.confirmed %></span>
                             <%}%>
                               <%= disCovidData[j].districtData[y].confirmed %>
                             </td>

                             <td><%= disCovidData[j].districtData[y].active %></td>

                             <td> <%if(parseInt(disCovidData[j].districtData[y].delta.recovered) > 0){%>
                               <span class="delta-text-rec" style="color: #79d70f;"><i class="fas fa-arrow-up"></i><%= disCovidData[j].districtData[y].delta.recovered %></span>
                             <%}%>
                               <%= disCovidData[j].districtData[y].recovered %>
                             </td>

                             <td> <%if(parseInt(disCovidData[j].districtData[y].delta.deceased) > 0){%>
                               <span class="delta-text-death" style="color: #393e46;"><i class="fas fa-arrow-up"></i><%= disCovidData[j].districtData[y].delta.deceased %></span>
                             <%}%>
                               <%= disCovidData[j].districtData[y].deceased %>
                             </td>
                           </tr>
                         <%}%>

                     </tbody>
                   </table>

             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary btn-lg modal-close-btn" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
       </div>
       <%}%>

    </div>

  </section>


  <footer class="footersection" id="footer">
    <h2 class="awrns">Salute to all Corona Warriors at the frontline of #COVID19 response</h2>
    <span> <a href="#top" title="Go To Top"><img class="totop-img" src="images/totop.png"></a></span>
    <div class="row">

      <div class="col-sm-6 footerdiv datadetail">
        <p class="footertext"> <strong>Open Source : </strong> <a class="download1" href="https://github.com/SandeepKrSuman/COVID-19TrackIN" style="color:#fff;"><span style="font-size:2rem;"><i class="fab fa-github"></i></span></a> </p>
        <p class="footertext"><strong><a class="download1" href="https://api.covid19india.org/">API </a></strong>used</p>
        <p class="footertext"> <strong>States & Union Territories : </strong> <a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf" class="download1">Helpline</a> </p>
      </div>

      <div class="col-sm-6 footerdiv">
        <strong class="footertext">Download Aarogya Setu <img src="images/arogya.png"> App :</strong> <br> <br>
        <button class="download-button btn btn-lg btn-outline-dark btndwn" type="button"><i class="fab fa-apple"></i> <a class="download download1" href="https://bit.ly/iOSAarogyaSetu">Download</a> </button>
        <button class="download-button btn btn-lg btn-outline-light btndwn" type="button"><i class="fab fa-google-play"></i> <a class="download download2" href="https://bit.ly/AndroidAarogyaSetu">Download</a> </button>
      </div>

    </div>


    <div class="container-fluid cntdiv">
      <p class="twit footertext"> <a href="https://twitter.com/WHO" class="download1">WHO</a> | <a href="https://twitter.com/MoHFW_INDIA" class="download1">MoHFW</a> | <a href="https://twitter.com/narendramodi" class="download1">Hon'ble PM</a> </p>
      <p class="developerDetail footertext">Made with ❤ by <a class="devlink" href="https://www.linkedin.com/in/sandeepkrsuman/">SandeepKrSuman</a></p>
    </div>

  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
  $("a[href='#top']").click(function() {
  $("html, body").animate({ scrollTop: 0 }, "slow");
  return false;
  });
  </script>

</body>

</html>
